@layer base {
  html {
    scroll-behavior: smooth;
    /*set base font family in tailwind.config.js */
  }

  /**
   * Extend font settings but keep them in the base layer to
   * preserverve cascading and specificity
   */

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Regular.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Bold.ttf');
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Chinese';
    src: url('/fonts/NotoSans/NotoSansSC-Regular.otf');
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Chinese';
    src: url('/fonts/NotoSans/NotoSansSC-Bold.otf');
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Arabic';
    src: url('/fonts/NotoSans/NotoSans-Arabic.ttf');
    font-display: swap;
  }

  /* Focus outline style */
  /* input:focus-visible {
    @apply rounded;
    outline-position: outside;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.3);
    outline-width: 2px;
  } */
}
