@layer base {
  html {
    scroll-behavior: smooth;
    /*set base font family in tailwind.config.js */
  }

  /**
   * Extend font settings but keep them in the base layer to
   * preserverve cascading and specificity
   */

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/notosans-regular-webfont.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/notosans-bold-webfont.woff2');
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Chinese';
    src: url('/fonts/NotoSans/notosanssc-regular-webfont.woff2');

    /*src: url('/fonts/NotoSans/NotoSansSC-Regular.otf');*/
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Chinese';

    src: url('/fonts/NotoSans/notosanssc-bold-webfont.woff2');

    /*src: url('/fonts/NotoSans/NotoSansSC-Bold.otf');*/
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Arabic';
    src: url('/fonts/NotoSans/notosans-arabic-webfont.woff2');
    font-display: swap;
  }

  /* img:-moz-broken {
    opacity: 0
  } */
  /* Focus outline style */
  /* input:focus-visible {
    @apply rounded;
    outline-position: outside;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.3);
    outline-width: 2px;
  } */
}
