@layer base {
  html {
    scroll-behavior: smooth;
  }

  /**
   * Extend font settings but keep them in the base layer to
   * preserverve cascading and specificity
   */

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Regular.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Bold.ttf');
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-Italic.ttf');
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans/NotoSans-BoldItalic.ttf');
    font-display: swap;
    font-style: italic;
    font-weight: bold;
  }

  /* Focus outline style */
  *:focus-visible {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
  }
}
