/*
  Askem CSS Style Guide
*/

.ifu-landing section.feedback {
  display: none;
}

section.feedback {
}

div.askem {
  height: auto;
}

/* General styles */
.askem-plugin {
  /* You can add your general and the Askem wrapper styling here, such as font-family. */
}
.askem-plugin .askem-header {
  /* This affects all headers in the plugin */
}

/* Reaction button */
.askem-plugin .askem-reactions-group .askem-reaction-button {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-shadow: 0px 2px rgba(0, 0, 0, .15);
  --tw-shadow-colored: 0px 2px var(--tw-shadow-color);
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-color: rgb(51 51 51 / var(--tw-border-opacity));
  border-radius: 5px;
  border-width: 2px;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  display: inline-block;
  font-family: Noto Sans, Noto Sans Arabic, Noto Sans Chinese, sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  padding: .5rem 1rem;
}

/* Label */
.askem-plugin .askem-reactions-group .askem-reaction-button .askem-label {
  /* Add reaction button label text styles here. */
}

/* For hover/active styles, just add :hover after .askem-reaction-button */
/* For selected button styles, add .selected to .askem-reaction (e.g. .askem-plugin .askem-reactions-group .askem-reaction.selected .askem-reaction-button) */

/* Feedback form */
/* Textarea */
.askem-plugin .askem-inputs .askem-input-field {
  --tw-border-opacity: 1;
  --tw-shadow: inset 2px 2px 4px rgba(0, 0, 0, .15);
  --tw-shadow-colored: inset 2px 2px 4px var(--tw-shadow-color);
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem .75rem;
  width: 100%;
}
/* Disclaimer text */
.askem-plugin .askem-inputs .askem-input-disclaimer {
  /* Add disclaimer text styles here */
}

/* Submit button */
.askem-plugin .askem-inputs .askem-input-submit {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-shadow: 0px 2px rgba(0, 0, 0, .15);
  --tw-shadow-colored: 0px 2px var(--tw-shadow-color);
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-color: rgb(51 51 51 / var(--tw-border-opacity));
  border-radius: 5px;
  border-width: 2px;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  display: inline-block;
  font-family: Noto Sans, Noto Sans Arabic, Noto Sans Chinese, sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  padding: .5rem 1rem;
}
