@layer components {
  .ifu-topmenu__container {
    height: 60px;
    box-shadow: 0 4px 5px 0px rgb(0 0 0 / 35%);
  }
  @screen md {
    .ifu-topmenu__container {
      height: 80px;
      box-shadow: 0 4px 5px 0px rgb(0 0 0 / 35%);
      @apply z-50;
    }
  }
  .ifu-topmenu__logo {
    background-image: url('/logo/logo.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    display: block;
    /* Mobile first */
    width: 134px;
    height: 28px;
    transform: translateY(-0.1rem);
  }
  @screen md {
    .ifu-topmenu__logo {
      width: 200px;
      height: 41px;
    }
  }

  .ifu-topmenu__skiplink {
    @apply z-10 absolute transition-transform transform -translate-y-52 duration-200 ease-in-out rounded-b focus:translate-y-12 p-2 bg-white  text-tiny  text-link;
  }

  @screen md {
    .ifu-topmenu__skiplink {
      @apply -translate-x-full focus:translate-x-64 translate-y-0 focus:translate-y-0 rounded;
    }
  }
}
