@layer components {
  :root {
    --gradientHeight: 250px;
    --targetLinkOffset: -200px;
    /*gradient colors in separate vars, for static use*/
    --bgRed: #eb6b5c;
    --bgGreen: #b4de93;
    --bgBlue: #7fd5f9;
    --bgOrange: #f4a368;
    /* set this from Drupal*/
    --bgColor: #7fd5f9;
  }

  @screen md {
    :root {
      --gradientHeight: 440px;
    }
  }
  /**
  * Hero area background colors

  */

  .ifu-article__bg--dynamic {
    background: linear-gradient(
      180deg,
      var(--bgColor) var(--gradientHeight),
      rgba(255, 255, 255, 1) var(--gradientHeight)
    );
  }

  .ifu-article__bg--red {
    /* background: rgb(235,107,92); */
    background: linear-gradient(
      180deg,
      var(--bgRed) var(--gradientHeight),
      rgba(255, 255, 255, 1) var(--gradientHeight)
    );
  }

  .ifu-article__bg--green {
    /* background: rgb(180,222,147); */
    background: linear-gradient(
      180deg,
      var(--bgGreen) var(--gradientHeight),
      rgba(255, 255, 255, 1) var(--gradientHeight)
    );
  }

  .ifu-article__bg--blue {
    /* background: rgb(127,213,249); */
    background: linear-gradient(
      180deg,
      var(--bgBlue) var(--gradientHeight),
      rgba(255, 255, 255, 1) var(--gradientHeight)
    );
  }

  .ifu-article__bg--orange {
    /* background: rgb(244,163,104); */
    background: linear-gradient(
      180deg,
      var(--bgOrange) var(--gradientHeight),
      rgba(255, 255, 255, 1) var(--gradientHeight)
    );
  }

  /* Add stripe to columns in landing page */
  .ifu-landing .ifu-article__columns {
    @apply border-t border-black mt-16;
  }

  .ifu-article__ingress {
    @apply mt-8 lg:mt-16 mb-8 lg:mb-8 text-body-large;
  }

  /**
* Article body styles for markup content from Drupal
*/
  .ifu-article__column-block,
  .ifu-block__html {
    @apply text-bodytext-color;
  }
  .ifu-article__column-block ul,
  .ifu-block__html ul {
    @apply list-disc list-outside py-4 mb-4 ms-4 ps-4;
  }

  .ifu-article__column-block ol,
  .ifu-block__html ol {
    @apply list-decimal list-outside py-4 mb-4 ms-4 ps-4;
  }

  .ifu-article__column-block ul li,
  .ifu-article__column-block ol li,
  .ifu-block__html ul li,
  .ifu-block__html ol li {
    @apply ps-2;
  }
  .ifu-article__column-block p,
  .ifu-block__html p {
    @apply text-body;
  }

  .ifu-block__html h2 {
    @apply text-h2 md:text-h2xl mb-8 mt-16;
  }

  .ifu-block__html h3 {
    @apply text-h3 md:text-h3xl mb-8 mt-16;
  }

  .ifu-article__column-block h4 {
    @apply text-h4 md:text-h4xl my-4 font-bold;
  }

  .ifu-heading__h2--target:target {
    display: block;
    position: relative;
    top: var(--targetLinkOffset);
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

/*
Block types
*/

.ifu-block--article {
  @apply px-6 lg:mx-12 xl:mx-28 2xl:mx-48 3xl:ms-64 3xl:max-w-4xl;
}

.ifu-block--secondary,
.ifu-layout--secondary .ifu-block--article {
  @apply px-6 md:max-w-screen-md lg:max-w-screen-lg mx-0 lg:mx-8;
}

.ifu-block--hero {
  @apply mx-6 lg:mx-12 xl:mx-28 2xl:mx-48 3xl:ms-64 3xl:max-w-4xl;
}
