@layer components {
  .ifu-loader__hero-icon {
    background-repeat: no-repeat;
    background-image: url('/images/loader-icon-light.png');
    background-position: center center;
    background-size: 8%;
  }

  .lds-ripple {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 3px solid var(--bgColor);
    /* @apply border-4 border-orange-light; */
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -1s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
