@layer components {
  .ifu-messages > :first-child {
    @apply mt-2;
  }
  .ifu-messages > :last-child {
    @apply mb-2;
  }

  .ifu-messages__card--enter,
  .ifu-messages__card--appear {
    @apply opacity-50 transform scale-95;
  }
  .ifu-messages__card--enter-active,
  .ifu-messages__card--appear-active {
    @apply transition-all opacity-100 scale-100;
  }
  .ifu-messages__card--appear-done .ifu-messages__card--enter-done {
    @apply transition-all opacity-100 scale-100;
  }
  .ifu-messages__card--exit {
    @apply transition-all transform opacity-0;
    max-height: 100vh;
  }
  .ifu-messages__card--exit-active {
    max-height: 0;
    @apply transition-all opacity-0 transform scale-95;
  }
  .ifu-messages__card--exit .ifu-messages__card-body,
  .ifu-messages__card--exit-active .ifu-messages__car-body,
  .ifu-messages__card--exit-done .ifu-messages__card-body {
    visibility: hidden;
  }
}
