@import './components.messagecard.css';
@import './components.mainmenu.css';
@import './components.drawer.css';
@import './components.modal.css';
@import './components.topmenu.css';
@import './components.hero.css';
@import './components.loaders.css';
@import './components.feedback.css';
@import './components.article.css';
@import './components.footer.css';
@import './components.local-info.css';
@import './components.search.css';
@import './components.cookies.css';
@import './components.accordion.css';

@layer components {
  .ifu-layout__body {
    min-height: calc(100vh - 80px);
    @apply flex flex-col justify-between  flex-1 xl:px-0 border-black-op1 border-s-2 overflow-hidden;
  }

  .ifu-text-link {
    @apply text-link hover:text-link-hover hover:underline;
  }

  .ifu-button {
    @apply text-black bg-white shadow-button hover:shadow-button-hover border-2 border-bodytext-color rounded px-4 py-2 leading-6  font-sans font-bold inline-block;
  }

  .ifu-button:focus-visible {
    outline-position: outside;
    outline-style: solid;
    outline-color: rgba(0, 0, 50, 0.3);
    outline-width: 3px;
  }

  .ifu-breadcrumb__icon--arrow {
    @apply transform scale-150;
    --tw-translate-y: -0.04rem;
  }

  .ifu-breadcrumb__icon--home {
    @apply transform scale-125;
    --tw-translate-y: -0.22rem;
  }
}
