@layer components {
  :root {
    --paginationButtonSize: 35px;
  }

  .ifu-search__overlay {
    @apply fixed inset-0 bg-black-op3 z-50;
  }

  @screen md {
    .ifu-search__overlay {
      @apply fixed  bg-black-op3 z-20;
      top: 80px;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .ifu-search__input--checkbox {
    @apply mx-1 translate-y-[0.05rem];
  }
  .ifu-search__input--topsearch {
    @apply py-3 px-1 w-full text-h3 placeholder:text-gray-light outline-none ps-2 md:ps-4;
  }

  .ifu-search__input--topsearch::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    transform: translate(5px, -1px);
    height: 25px;
    width: 25px;
    background-image: url('/images/icons/close-button.svg');
    background-repeat: no-repeat;

    background-size: cover;
  }
  .ifu-search__input--page::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    transform: translateX(11px);
    height: 30px;
    width: 30px;
    background-image: url('/images/icons/close-button.svg');
    background-repeat: no-repeat;

    background-size: cover;
  }

  .ifu-search__input--page {
    @apply inline-block flex-grow px-2 h-12;
  }
  .ifu-pagination {
    @apply flex text-center relative justify-center flex-wrap;
  }

  .ifu-pagination__page,
  .ifu-pagination__button--break {
    @apply text-center inline-block;
  }

  .ifu-pagination__page {
    @apply inline-block flex-none lg:w-6 mx-2;
  }

  .ifu-pagination__page a {
    @apply block hover:font-bold hover:text-gray-dark;
  }

  .ifu-pagination__page--active {
    @apply font-bold;
  }

  .ifu-pagination__page--active a {
    @apply cursor-default hover:text-link-hover;
  }
  .ifu-pagination__page--disabled,
  .ifu-pagination__button--disabled {
    @apply text-gray-dark cursor-default;
  }

  /* .ifu-pagination__button--prev {
    @apply w-0 flex-none inline-block font-bold text-left pe-1 lg:basis-1/5 me-2 relative;
  } */
  /* .ifu-pagination__button--next {
    @apply w-0 flex-grow inline-block font-bold text-right ps-1 lg:basis-1/5 ms-2 relative;
  } */

  .ifu-pagination__button--next,
  .ifu-pagination__button--prev {
    @apply w-0 flex-none inline-block lg:flex-grow;
  }

  .ifu-pagination__button--prev a {
    left: -2.5rem;
    top: 0;
    background-image: url('/images/icons/circle-arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: var(--paginationButtonSize);
    width: var(--paginationButtonSize);
    font-size: 0;
    filter: blur(0.5px);
    @apply absolute block;
  }

  .ifu-pagination__button--next a {
    right: -2.5rem;
    top: 0;
    background-image: url('/images/icons/circle-arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: var(--paginationButtonSize);
    width: var(--paginationButtonSize);
    font-size: 0;
    filter: blur(0.5px);
    @apply absolute  block;
  }

  .ifu-search__highlight {
    font-style: normal;
    @apply bg-orange-light;
  }
}
