@layer components {
  .ifu-search__overlay {
    @apply fixed inset-0 bg-black-op3 z-50;
  }

  @screen md {
    .ifu-search__overlay {
      @apply fixed  bg-black-op3 z-20;
      top: 80px;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .ifu-pagination {
    @apply block mt-8 text-center relative;
  }

  .ifu-pagination__page,
  .ifu-pagination__break {
    @apply inline-block mx-2;
  }
  .ifu-pagination__page--active {
    @apply font-bold;
  }

  .ifu-pagination__prev {
    @apply inline-block me-2 font-bold shrink-0 lg:absolute lg:left-0;
  }

  .ifu-pagination__next {
    @apply inline-block ms-2 font-bold shrink-0 lg:absolute lg:right-0;
  }
}
