@layer components {
  .ifu-topmenu__container {
    height: 60px;
    box-shadow: 0 4px 5px 0px rgb(0 0 0 / 35%);
  }
  @screen md {
    .ifu-topmenu__container {
      height: 80px;
      box-shadow: 0 4px 5px 0px rgb(0 0 0 / 35%);
      @apply z-50;
    }
  }
  .ifu-topmenu__logo {
    background-image: url('/images/logo/logo-small.svg');
    background-repeat: no-repeat;

    background-size: contain;
    display: block;
    /* Mobile first */
     width: 120px;
    height: 27px;
    transform: translateY(-0.1rem);
  }
  @screen md {
    .ifu-topmenu__logo {
      width: 202px;
      height: 41px;
      background-image: url('/images/logo/logo-big.svg');
    }
  }

  .ifu-topmenu__skiplink {
    @apply z-10 absolute  transform -translate-y-52 rounded-br w-40 shadow-topbar focus:translate-y-12 p-2 bg-white text-center text-small  text-link font-bold;
  }

  @screen md {
    .ifu-topmenu__skiplink {
      @apply -translate-x-full transition-transform duration-200 ease-in-out focus:translate-x-64 translate-y-0 focus:translate-y-0 rounded w-auto;
    }

    [dir='rtl'] .ifu-topmenu__skiplink {
      @apply translate-x-full focus:-translate-x-64;
    }
  }
}
