@layer components {
  /* .ifu-mainmenu--scroll .ifu-mainmenu__submenu-icon {
    transform: translateX(var(--scrollbarWidth));
  } */

  .ifu-mainmenu__desktop {
    /* SHAME! should use h-topbarxl . make it into css variable*/
    height: calc(100vh - 80px);
    /* @apply styled-scrollbars; */
  }
  /*
  .ifu-mainmenu__submenu,
  .ifu-mainmenu__topitem,
  .ifu-mainmenu__item--subitem,
   .ifu-mainmenu__item--button   {
    scroll-margin-top: 8rem;
  } */

  .ifu-mainmenu__item--link {
    @apply block text-body-small ps-8 py-4 border-s-5 hover:bg-gray-white/50 pe-4;
  }

  .ifu-mainmenu__item--button {
    @apply text-body-small ps-8 border-s-5 hover:bg-gray-white/50;
  }

  .ifu-mainmenu__item--subitem {
    @apply block py-2 text-body-small hover:bg-gray-white/50 pe-4;
  }

  /*
Accordion arrows are using absolute positioning so
that they wont move sideways when scrollbar becomes visible
*/
  .ifu-mainmenu__submenu-icon {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }

  [dir='rtl'] .ifu-mainmenu__submenu-icon {
    left: 2rem;
  }

  [dir='ltr'] .ifu-mainmenu__submenu-icon--open {
    @apply rotate-90;
  }

  [dir='rtl'] .ifu-mainmenu__submenu-icon--open {
    @apply -rotate-90;
  }

  @keyframes ifu-mainmenu--scroll-flash {
    0% {
      @apply bg-gray-lighter/75;
    }

    50% {
      @apply bg-gray-lighter-teal/50;
    }

    100% {
      @apply bg-gray-lighter-teal/25;
    }
  }

  .ifu-mainmenu--scroll-flash {
    animation: ifu-mainmenu--scroll-flash 1s;
  }

  @screen md {
    .ifu-mainmenu__submenu-icon {
      position: absolute;
      left: 16rem;
      top: 1.5rem;
    }

    [dir='rtl'] .ifu-mainmenu__submenu-icon {
      right: 16rem;
    }
  }
}
