/* inline-block px-2 mb-3 */
@layer components {
  .ifu-footer__hki-logo {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    height: 60px;
    width: 110px;
    @apply bg-white;
  }

  .ifu-footer__hki-logo:lang(ar) {
    background-image: url('/helsinki/01_HELSINKI-ARABIA_Tunnus_BLACK.png');
  }

  .ifu-footer__hki-logo:lang(en) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(es) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(et) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(fa) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(fi) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(fr) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(ru) {
    background-image: url('/helsinki/helsinki-ru.svg');
  }

  .ifu-footer__hki-logo:lang(so) {
    background-image: url('/helsinki/helsinki.svg');
  }

  .ifu-footer__hki-logo:lang(sv) {
    background-image: url('/helsinki/helsinki-sv.svg');
  }

  .ifu-footer__hki-logo:lang(tr) {
    background-image: url('/helsinki/helsinki.svg');
  }
  .ifu-footer__hki-logo:lang(zh) {
    background-image: url('/helsinki/01_HELSINKI-KIINA_Tunnus_BLACK.png');
  }

  .ifu-footer__link {
    @apply px-2 mb-3 hover:underline inline-block;
    line-height: 1;
  }

  @screen md {
    .ifu-footer__link {
      line-height: 1.2;
    }
  }
}
