@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .text-shadow-home {
    text-shadow: 2px 2px 5px rgb(0 0 0 / 50%), -2px -2px 5px rgb(0 0 0 / 20%),
      0px 0px 50px rgb(0 0 0 / 30%);
  }

  @screen lg {
    /* List of upscaled text elements for chinese characters */
    /*  Home hero title */
    .ifu-hero-home__title:lang(zh),
    .ifu-hero__title:lang(zh) {
      font-size: 6rem;
    }
  }
}
